@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    background-color:#61122f;
    color:#fff;
    font-family: 'Oxygen', sans-serif;
    font-size:16px;
}
#header-nav{
    background-color:#f6b319;
    border: 0;
    border-radius: 0;
}
#logo-img{
    background: url("img/restaurant-logo_large.jpeg") no-repeat;
    height: 150px;
    width: 150px;
    margin: 10px 15px 10p 0;
    border-radius: 25%;
}